.bg-primary {
  background-color: #5f1e80 !important;

}

.text-shadow-pink {
  top: 35.5vh;
  text-shadow: 1px 2px 2px #ff69b4;
  /* Cambia el color y las dimensiones según tus preferencias */
}

footer {
  background-color: black;
}

footer svg {
  cursor: pointer;
}

.lato {
  font-family: 'Lato', serif;
}