<nav class="bg-fuchsia-950 shadow-[0_0_2px_#4a044e,0_0_5px_#4a044e,0_0_15px_#4a044e,0_0_30px_#4a044e]">
    <div class="ocean">
        <div class="sm:hidden wave"></div> 
    </div>  
    <div class="z-10 container mx-auto px-2 py-3 flex flex-col sm:flex-row justify-between items-center">
        <div class="flex justify-between items-center w-full">
            <div class=" flex items-center text-4xl w-full">
                <a routerLink="/" class="z-10 cursor-pointer font-bold text-2xl text-white" 
                   style="text-shadow: 0 0 2px #fff, 0 0 5px #f0f, 0 0 15px #f0f, 0 0 30px #f0f;">KINKY VIBES PARTY</a>
            </div>
            
            <!-- Botón de Hamburguesa (visible solo en pantallas pequeñas) -->
            <button (click)="toggleNavbar()" [class.open]="!isNavbarHidden"
                class="relative z-10 hamburger inline-flex flex-col justify-center items-center w-10 h-10 rounded-md text-black-800 hover:text-black-600">
                <!-- Líneas del Icono de Hamburguesa -->
                <span
                    class="line1 block h-1 w-6 bg-current shadow-[0_0_2px_#fff,0_0_5px_#f0f,0_0_15px_#f0f,0_0_30px_#f0f] transform transition duration-300 ease-in-out"></span>
                <span
                    class="line2 block h-1 w-6 bg-current my-1 shadow-[0_0_2px_#fff,0_0_5px_#f0f,0_0_15px_#f0f,0_0_30px_#f0f] transform transition duration-300 ease-in-out"></span>
                <span
                    class="line3 block h-1 w-6 bg-current shadow-[0_0_2px_#fff,0_0_5px_#f0f,0_0_15px_#f0f,0_0_30px_#f0f] transform transition duration-300 ease-in-out"></span>
            </button>
        </div>

        <!-- Menú de Navegación (visible en pantallas medianas y grandes) -->
        <div [class.hidden]="isNavbarHidden"
            class=" relative gap-x-7 md:flex flex-col md:flex-row w-full ml-22 place-items-stretch text-2xl text-white">
            <a routerLinkActive="text-shadow" class="tsh lato block subpixel-antialiased text-white px-3 py-2 text-center" routerLink="parties">Parties</a>
            <a routerLinkActive="text-shadow" class="tsh lato block subpixel-antialiased text-white px-3 py-2 text-center" routerLink="gallery">Gallery</a>
            <a routerLinkActive="text-shadow" class="tsh lato block subpixel-antialiased text-white px-3 py-2 text-center" routerLink="service">Services</a>
            <a routerLinkActive="text-shadow" class="tsh lato block subpixel-antialiased text-white px-3 py-2 text-center" routerLink = "calendar">Calendar</a>
            <div class="flex justify-center sm:justify-center md:mt-0.5">
                <a class="lato text-white align-text-bottom  font-bold py-1 px-3 rounded 
                          shadow-[0_0_2px_#F2ACDA,inset_0_0_2px_#F2ACDA,0_0_5px_#F2ACDA,0_0_10px_#F2ACDA,0_0_10px_#F2ACDA]" style="background-color: #ff8fd8de; ">
                Login</a> 
            </div>
        </div>
    </div>

</nav>

 