<div class="relative flex flex-wrap justify-center mt-5 lg:mt-9 lg:mb-3 pb-2 md:pb-20">
    <div class="grid grid-cols-1 md:grid-cols-2 2xl:grid-cols-3  gap-x-5">
        <div class="w-72 rounded overflow-hidden shadow-lg my-2 cursor-pointer"
            style="background: rgba(214, 102, 158, 0.745) !important;">
            <div class="relative font-semibold">
                <img class=" object-cover h-72 w-96" src="https://pbs.twimg.com/media/FmMcpebaAAQ_oPr.jpg"
                    alt="Sunset in the mountains">
                <span class="absolute bottom-0 right-0  flex items-center">

                    <span class="bg-fuchsia-800 text-white px-2 py-1 rounded-tl-lg flex items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-7 w-4  mr-1" viewBox="0 0 16 16"
                            fill="currentColor">
                            <path
                                d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V5h16V4H0V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5" />
                        </svg>
                        13/05
                    </span>
                </span>
            </div>

            <div class="px-6 pt-4 text-white text-shadow-pink ">
                <div class="md:h-14 font-bold text-2xl text-center text-amber-200">Shibari en Zoe</div>
                <p class="md:h-1 text-grey-darker mr-2 text-justify text-lg">
                    Disfruta del placer de aprender en el espacio naturista mejor ubicado de barcelona, de la mano
                    de Mistress Zoe aprenderas cualquier atadura básica del arte japones del Shibari.
                </p>
            </div>
            <div class="text-center grid grid-cols-3 px-5 py-9 justify-center items-center ">
                <span
                    class="inline-block bg-amber-200 rounded-full px-2 text-sm font-semibold text-grey-darker mr-2">#Shibari</span>
                <span
                    class="inline-block bg-amber-200 rounded-full px-2 text-sm font-semibold text-grey-darker mr-2">#Curso</span>
                <span
                    class="inline-block bg-amber-200 rounded-full px-2 text-sm font-semibold text-grey-darker mr-2 ">#Zoe</span>

            </div>
        </div>
        <div class="w-72 rounded overflow-hidden shadow-lg my-2 cursor-pointer"
            style="background: rgba(214, 102, 158, 0.745) !important;">
            <div class="relative font-semibold">
                <img class=" object-cover h-72 w-96" src="https://pbs.twimg.com/media/FmMcpebaAAQ_oPr.jpg"
                    alt="Sunset in the mountains">
                <span class="absolute bottom-0 right-0  flex items-center">

                    <span class="bg-fuchsia-800 text-white px-2 py-1 rounded-tl-lg flex items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-7 w-4  mr-1" viewBox="0 0 16 16"
                            fill="currentColor">
                            <path
                                d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V5h16V4H0V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5" />
                        </svg>
                        13/05
                    </span>
                </span>
            </div>

            <div class="px-6 pt-4 text-white text-shadow-pink ">
                <div class="md:h-14 font-bold text-2xl text-center text-amber-200">Shibari en Zoe</div>
                <p class="md:h-1 text-grey-darker mr-2 text-justify text-lg">
                    Disfruta del placer de aprender en el espacio naturista mejor ubicado de barcelona, de la mano
                    de Mistress Zoe aprenderas cualquier atadura básica del arte japones del Shibari.
                </p>
            </div>
            <div class="text-center grid grid-cols-3 px-5 py-9 justify-center items-center ">
                <span
                    class="inline-block bg-amber-200 rounded-full px-2 text-sm font-semibold text-grey-darker mr-2">#Shibari</span>
                <span
                    class="inline-block bg-amber-200 rounded-full px-2 text-sm font-semibold text-grey-darker mr-2">#Curso</span>
                <span
                    class="inline-block bg-amber-200 rounded-full px-2 text-sm font-semibold text-grey-darker mr-2 ">#Zoe</span>

            </div>
        </div><div class="w-72 rounded overflow-hidden shadow-lg my-2 cursor-pointer"
        style="background: rgba(214, 102, 158, 0.745) !important;">
        <div class="relative font-semibold">
            <img class=" object-cover h-72 w-96" src="https://pbs.twimg.com/media/FmMcpebaAAQ_oPr.jpg"
                alt="Sunset in the mountains">
            <span class="absolute bottom-0 right-0  flex items-center">

                <span class="bg-fuchsia-800 text-white px-2 py-1 rounded-tl-lg flex items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-7 w-4  mr-1" viewBox="0 0 16 16"
                        fill="currentColor">
                        <path
                            d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V5h16V4H0V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5" />
                    </svg>
                    13/05
                </span>
            </span>
        </div>

        <div class="px-6 pt-4 text-white text-shadow-pink ">
            <div class="md:h-14 font-bold text-2xl text-center text-amber-200">Shibari en Zoe</div>
            <p class="md:h-1 text-grey-darker mr-2 text-justify text-lg">
                Disfruta del placer de aprender en el espacio naturista mejor ubicado de barcelona, de la mano
                de Mistress Zoe aprenderas cualquier atadura básica del arte japones del Shibari.
            </p>
        </div>
        <div class="text-center grid grid-cols-3 px-5 py-9 justify-center items-center ">
            <span
                class="inline-block bg-amber-200 rounded-full px-2 text-sm font-semibold text-grey-darker mr-2">#Shibari</span>
            <span
                class="inline-block bg-amber-200 rounded-full px-2 text-sm font-semibold text-grey-darker mr-2">#Curso</span>
            <span
                class="inline-block bg-amber-200 rounded-full px-2 text-sm font-semibold text-grey-darker mr-2 ">#Zoe</span>

        </div>
    </div><div class="w-72 rounded overflow-hidden shadow-lg my-2 cursor-pointer"
    style="background: rgba(214, 102, 158, 0.745) !important;">
    <div class="relative font-semibold">
        <img class=" object-cover h-72 w-96" src="https://pbs.twimg.com/media/FmMcpebaAAQ_oPr.jpg"
            alt="Sunset in the mountains">
        <span class="absolute bottom-0 right-0  flex items-center">

            <span class="bg-fuchsia-800 text-white px-2 py-1 rounded-tl-lg flex items-center">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-7 w-4  mr-1" viewBox="0 0 16 16"
                    fill="currentColor">
                    <path
                        d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V5h16V4H0V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5" />
                </svg>
                13/05
            </span>
        </span>
    </div>

    <div class="px-6 pt-4 text-white text-shadow-pink ">
        <div class="md:h-14 font-bold text-2xl text-center text-amber-200">Shibari en Zoe</div>
        <p class="md:h-1 text-grey-darker mr-2 text-justify text-lg">
            Disfruta del placer de aprender en el espacio naturista mejor ubicado de barcelona, de la mano
            de Mistress Zoe aprenderas cualquier atadura básica del arte japones del Shibari.
        </p>
    </div>
    <div class="text-center grid grid-cols-3 px-5 py-9 justify-center items-center ">
        <span
            class="inline-block bg-amber-200 rounded-full px-2 text-sm font-semibold text-grey-darker mr-2">#Shibari</span>
        <span
            class="inline-block bg-amber-200 rounded-full px-2 text-sm font-semibold text-grey-darker mr-2">#Curso</span>
        <span
            class="inline-block bg-amber-200 rounded-full px-2 text-sm font-semibold text-grey-darker mr-2 ">#Zoe</span>

    </div>
</div><div class="w-72 rounded overflow-hidden shadow-lg my-2 cursor-pointer"
style="background: rgba(214, 102, 158, 0.745) !important;">
<div class="relative font-semibold">
    <img class=" object-cover h-72 w-96" src="https://pbs.twimg.com/media/FmMcpebaAAQ_oPr.jpg"
        alt="Sunset in the mountains">
    <span class="absolute bottom-0 right-0  flex items-center">

        <span class="bg-fuchsia-800 text-white px-2 py-1 rounded-tl-lg flex items-center">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-7 w-4  mr-1" viewBox="0 0 16 16"
                fill="currentColor">
                <path
                    d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V5h16V4H0V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5" />
            </svg>
            13/05
        </span>
    </span>
</div>

<div class="px-6 pt-4 text-white text-shadow-pink ">
    <div class="md:h-14 font-bold text-2xl text-center text-amber-200">Shibari en Zoe</div>
    <p class="md:h-1 text-grey-darker mr-2 text-justify text-lg">
        Disfruta del placer de aprender en el espacio naturista mejor ubicado de barcelona, de la mano
        de Mistress Zoe aprenderas cualquier atadura básica del arte japones del Shibari.
    </p>
</div>
<div class="text-center grid grid-cols-3 px-5 py-9 justify-center items-center ">
    <span
        class="inline-block bg-amber-200 rounded-full px-2 text-sm font-semibold text-grey-darker mr-2">#Shibari</span>
    <span
        class="inline-block bg-amber-200 rounded-full px-2 text-sm font-semibold text-grey-darker mr-2">#Curso</span>
    <span
        class="inline-block bg-amber-200 rounded-full px-2 text-sm font-semibold text-grey-darker mr-2 ">#Zoe</span>

</div>
</div><div class="w-72 rounded overflow-hidden shadow-lg my-2 cursor-pointer"
style="background: rgba(214, 102, 158, 0.745) !important;">
<div class="relative font-semibold">
    <img class=" object-cover h-72 w-96" src="https://pbs.twimg.com/media/FmMcpebaAAQ_oPr.jpg"
        alt="Sunset in the mountains">
    <span class="absolute bottom-0 right-0  flex items-center">

        <span class="bg-fuchsia-800 text-white px-2 py-1 rounded-tl-lg flex items-center">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-7 w-4  mr-1" viewBox="0 0 16 16"
                fill="currentColor">
                <path
                    d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V5h16V4H0V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5" />
            </svg>
            13/05
        </span>
    </span>
</div>

<div class="px-6 pt-4 text-white text-shadow-pink ">
    <div class="md:h-14 font-bold text-2xl text-center text-amber-200">Shibari en Zoe</div>
    <p class="md:h-1 text-grey-darker mr-2 text-justify text-lg">
        Disfruta del placer de aprender en el espacio naturista mejor ubicado de barcelona, de la mano
        de Mistress Zoe aprenderas cualquier atadura básica del arte japones del Shibari.
    </p>
</div>
<div class="text-center grid grid-cols-3 px-5 py-9 justify-center items-center ">
    <span
        class="inline-block bg-amber-200 rounded-full px-2 text-sm font-semibold text-grey-darker mr-2">#Shibari</span>
    <span
        class="inline-block bg-amber-200 rounded-full px-2 text-sm font-semibold text-grey-darker mr-2">#Curso</span>
    <span
        class="inline-block bg-amber-200 rounded-full px-2 text-sm font-semibold text-grey-darker mr-2 ">#Zoe</span>

</div>
</div>
    </div>

</div>