<div class="w-full mt-8 relative" style="background: rgba(113, 53, 83, 0.44) !important; padding: 9% 0;">
    <p class="text-4xl text-center text-white text-shadow-pink mt-2 xl:mt-24" style="position: absolute; top: 0; left: 50%; transform: translateX(-50%);">
        NUESTRAS FIESTAS
    </p>
    <div class="mt-5 flex justify-center">
        <div class="relative">
            <div class="grid grid-cols-1 md:grid-cols-3 justify-items-center gap-9 relative">
                <div class="relative">
                    
                    <div class="cursor-pointer px-4 mt-9 h-72 w-72 md:h-80 md:w-80 bg-gray-950 relative">
                        <!-- Flecha izquierda -->
                        <div style="top: calc(55% - 2.5vmax);" class="cursor-pointer fixed -left-1 md:left-36 flex items-center justify-center w-10 text-white hover:text-gray-900">
                            <svg class="h-14 w-14" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path cstroke-linecap="round" stroke-linejoin="round" stroke-width="3" d="M15 19l-7-7 7-7"/>
                            </svg>
                        </div>
                    </div>
                </div>
                
                <div class=" w-72 md:h-80 md:w-80 block md:hidden">
                    <p class="text-shadow-pink   font-semibold text-center text-gray-200 mt-2">
                        Ven a nuestra fiesta mas cañera y conoce esta faceta del BDSM de una manera mas cercana y dinamica con juegos y desafios fisicos
                    </p>
                </div>
                
                <div class="cursor-pointer px-4 mt-9 h-72 w-72 md:h-80 md:w-80 bg-gray-950 relative">
                        
                </div>
                <div class=" w-72 md:h-80 md:w-80 block md:hidden">
                    <p class="text-shadow-pink   font-semibold text-center text-gray-200 mt-2">
                        Ven a nuestra fiesta mas cañera y conoce esta faceta del BDSM de una manera mas cercana y dinamica con juegos y desafios fisicos
                    </p>
                </div>

                 <div class="cursor-pointer px-4 mt-9 h-72 w-72 md:h-80 md:w-80 bg-gray-950 relative">
                    <!-- Flecha derecha -->
                    <div style="top: calc(55% - 2.5vmax);" class="cursor-pointer fixed -right-1 md:right-36 flex items-center justify-center w-10 text-white hover:text-gray-900">
                        <svg class="h-14 w-14" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="3" d="M9 5l7 7-7 7"/>
                        </svg>
                    </div>
                </div>
                <div class=" w-72 md:h-80 md:w-80 block md:hidden">
                    <p class="text-shadow-pink   font-semibold text-center text-gray-200 mt-2">
                        Ven a nuestra fiesta mas cañera y conoce esta faceta del BDSM de una manera mas cercana y dinamica con juegos y desafios fisicos
                    </p>
                </div>
                 <!-- Desktop -->
                <div class="md:block hidden h-72 w-72 md:h-32 md:w-80">
                    <p class="text-shadow-pink  font-semibold text-center text-gray-200 mt-2">
                        Ven a nuestra fiesta mas cañera y conoce esta faceta del BDSM de una manera mas cercana y dinamica con juegos y desafios fisicos
                    </p>
                </div>
                <div class="md:block hidden h-72 w-72 md:h-32 md:w-80">
                    <p class="text-shadow-pink font-semibold text-center text-gray-200 mt-2">
                        Ven a nuestra fiesta mas cañera y conoce esta faceta del BDSM de una manera mas cercana y dinamica con juegos y desafios fisicos
                    </p>
                </div>
                <div class="md:block hidden h-72 w-72 md:h-32 md:w-80">
                    <p class="text-shadow-pink font-semibold text-center text-gray-200 mt-2">
                        Ven a nuestra fiesta mas cañera y conoce esta faceta del BDSM de una manera mas cercana y dinamica con juegos y desafios fisicos
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
