<div style="background: rgba(214, 102, 158, 0.745) !important;"
 class="rounded-sm relative mx-auto top-6 w-4/5 md:max-w-5xl">
   <div class="grid grid-cols-3 md:grid-cols-6  mx-auto select-none">
      <div *ngFor="let entry of fullCategoryMap | keyvalue" class="text-center my-3 px-1 mx-auto">
         <span [ngClass]="{'text-amber-200': entry.value,}" 
               (click)="clickCategory(entry.key)"
               class="cursor-pointer inline-block rounded-full font-bold">
            <p >
               #{{entry.key | uppercase}}
            </p>
         </span>
      </div>
   </div>
</div>

<div class="relative flex flex-wrap justify-center mt-9 lg:mt-9 lg:mb-3 pb-2 md:pb-20">
    <div class="grid grid-cols-1 md:grid-cols-2 2xl:grid-cols-3 gap-x-5">
        <div *ngFor="let calendar of calendarList" 
             class="w-80 rounded overflow-hidden shadow-lg my-2 cursor-pointer"
             style="background: rgba(214, 102, 158, 0.745) !important;">
            <div class="relative font-semibold">
                <img class=" object-cover h-72 w-96" [src]="calendar.image" alt="calendar image">
                <span class="absolute bottom-0 right-0  flex items-center text-lg">
                    <span class="bg-fuchsia-800 text-white px-2 py-1 rounded-tl-lg flex items-center">
                        <svg class="h-7 w-4  mr-1" viewBox="0 0 16 16" fill="currentColor">
                            <path
                                d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V5h16V4H0V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5" />
                        </svg>
                        13/05
                    </span>
                </span>
            </div>

            <div class="antialiased px-6 pt-4 text-white">
               <div class="md:h-14 text-shadow-pink text-amber-200 font-bold text-2xl text-center ">
                  <p>
                     {{calendar.name}}
                  </p>
               </div>
                <p class="antialiased text-grey-darker mr-2 text-justify text-lg font-semibold md:mt-0 mt-4">
                     {{calendar.description}}
                </p>
            </div>
            <div class="antialiased my-9 grid grid-cols-3 px-1">
               <ng-container *ngFor="let category of calendar.categories">
                 <div class="text-center">
                   <span (click)="clickCategory(category)"
                         class="inline-block  rounded-full px-2 py-1 text-base font-semibold 
                                text-black select-none"
                         [ngClass]="{'bg-amber-200': isCategoryClicked(category),
                                     'text-purple-800': isCategoryClicked(category)}">
                     #{{ category }}
                  </span>
                 </div>
               </ng-container>
            </div>
             
        </div>
    </div>
 
</div>