<section
    class=" px-2.5 flex flex-col lg:flex-row justify-center items-center antialiased w-full lg:max-w-6xl mx-auto mt-4 lg:mt-0">

    <div
        class="max-w-fit w-96 mt-3 lg:mt-0 p-2.5 mb-2 lg:w-3/4 rounded-lg lg:mr-32 shadow-[0_0_2px_#fff,inset_0_0_2px_#fff,0_0_5px_#f0f,0_0_15px_#f0f,0_0_30px_#f0f]">
        <img src="../../assets/turborisika2.jpg" alt="Image"
            class=" rounded-lg shadow max-w-full h-auto align-middle border-none" />
    </div>

    <div class="  text-white lato font-extrabold lg:max-h-11 max-h-screen lg:w-5/6 flex flex-col justify-center"
        style="height: 46dvh; opacity: 0.9;">
        <p class="text-shadow-pink text-4xl lg:text-7xl  text-center mb-6">
            THE <span class="text-amber-200">FREEDOM</span> TO BE <span
                class="underline decoration-2 decoration-amber-200">YOURSELF</span>
        </p>
        <p class="purple rounded-lg p-3.5 lg:p-6 break-avoid text-shadow-pink text-justify text-2xl">
            Venture into the hidden side of Barcelona and meet new people in a fun and different way. All of our events
            create unforgettable stories.
        </p>

        <div class="p-0.5 mt-4 text-center ">
            <button
                class="w-full animate-pulse lg:w-auto glassy font-semibold  hover:text-white py-2 px-4 text-2xl lg:text-4xl border hover:border-transparent rounded">
                BOOK NOW
            </button>
        </div>
    </div>
   <app-background></app-background>
</section>